<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.RescentCheckMapper">
	<resultMap id="BaseResultMap"
		type="ltd.newbee.mall.newbeemall.entity.RescentCheck">
		<id column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="nickName" />
		<result column="login_name" jdbcType="VARCHAR"
			property="loginName" />
		<result column="password_md5" jdbcType="VARCHAR"
			property="passwordMd5" />
		<result column="introduce_sign" jdbcType="VARCHAR"
			property="introduceSign" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="is_deleted" jdbcType="TINYINT"
			property="isDeleted" />
		<result column="locked_flag" jdbcType="TINYINT"
			property="lockedFlag" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
	</resultMap>


	<select id="rescentCheckGoods" parameterType="long"
		resultType="ltd.newbee.mall.newbeemall.entity.RescentCheck">
		Select user_Id,goods_Id,check_date
		from rescent_check_goods where user_Id=#{UserId,jdbcType=TINYINT}
		group by user_Id,goods_Id
		order by count(check_date) desc
		limit #{number};

	</select>



</mapper>